---
layout: default
title: Blog
---

{% for post in site.posts %}
  <article class="preview-post">
    <div class="card-image-left">
        <img src="{{post.preview-image}}" alt="schwaaaaaay">
    </div>
    <div class="card-content">
        <div class="title">
            {{post.title}}
        </div>
        <div class="date"> {{ page.date | date_to_string }} </div>
        <div class="content">
            {{post.excerpt}}
            <br>
            <a href="{{ post.url }}">Ver mas...</a></h2>
        </div>
        <div class="author"> {{ page.author }}</div>
    </div>
  </article>
{% endfor %}
