<div class="nav-bar">
    <img src="assets/images/logo-kike-ras.png" style="width: 20%; height: 20%;" alt="Wako">
    <ul>
        {% for item in site.data.navigation %}
        <li><a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
            {{ item.name }}
        </li></a>
        {% endfor %}
    </ul>
</div>
