body {
    /*color: #2E2E2E*/
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #250403;
    margin-top: 26px;
    font-size: 0;
    text-align: justify;
    font-family: 'Open Sans';font-size: 22px;
}






/*Navigation Bar*/

.nav-bar{
    background: #430705;
    padding: 5em;
    text-align: center;
    padding: 40px;
    box-shadow:0 15px 28px 0 rgba(0,0,0,0.2),0 12px 40px 0 rgba(0,0,0,0.19);
    img{
        padding: 2.5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ul{
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li{
        float: left;

        a{
            display: block;
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
        }
        a:hover{
            background-color: #772B1C;
        }
    }
    .active{
        background-color: #C37E56;
    }

}


/* Body Articles */
.main-center{
    width: 100%;
    max-width: 90%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.preview-post{
    color: #2E2E2E;
    background: #d5d5d5;
    border-radius: 0px;
    /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
    top: 10px;
    left: 0;
    margin-left: 20px;
    margin-right: 20px;
    right: 0;
    z-index: 2;
    margin: 80px;
    padding: 0em;
    height: auto;
    overflow: hidden;
    font-size: 0.75em;

    .title{
        padding: 2em;
        font-weight: 100;
        font-size: 1.5em;
    }
    .card-image-left{
        overflow: hidden;
        float: left;
        background-size: cover;
        background-position: center;
        display: block;
        font-size: 0;
        box-shadow: 5px 10px 18px #888888;
    }
    .card-image-right{
        overflow: hidden;
        float: right;
        background-size: cover;
        background-position: center;
        display: block;
        font-size: 0;
        box-shadow: 5px 10px 18px #888888;
    }
    .card-content{
        padding: 2em 10em;
        width: 45%;
        float: right;
        height: auto;
        display: block;
        min-height: inherit;
    }
    .content{
        font-size: 0.8em;
    }
    .date{
        font-size: 0.75em;
    }
    .author{
        font-size: 0.75em;
        font-style: italic;
        float: right;
    }
}


.full-post{
    color: #2E2E2E;
    background: #d5d5d5;
    border-radius: 0px;
    /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
    top: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 5em;
    padding: 5em;
    height: auto;
    overflow: hidden;
    font-size: 0.75em;

    .title{
        padding: 0em;
        font-weight: 100;
        font-size: 1.5em;
    }
    .content{
        font-size: 0.8em;
    }
    .date{
        font-size: 0.75em;
    }
    .author{
        font-size: 0.75em;
        font-style: italic;
        float: right;
    }
}


.footer{
    color: whitesmoke;
    box-shadow:0 15px 28px 0 rgba(0,0,0,0.2),0 12px 40px 0 rgba(0,0,0,0.19);
    background: #2E2E2E;
    padding: 2em;
    text-align: center;
    display: block;
}

