---
layout: default
---

<article class="full-post">
    <div class="title">
        {{page.title}}
    </div>
    <div class="content">
        {{content}}
    </div>
    <div class="author"> {{page.author}}</div>
</article>
